# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.idea/.name
*.iml
*.xml
.idea/shelf/Uncommitted_changes_before_Update_at_2023-11-13_오후_8_50_\[Changes\]/.ninja_deps
*.patch
.idea/shelf/Uncommitted_changes_before_Update_at_2023-11-13_오후_8_50_\[Changes\]1/.ninja_deps
cmake-build-debug/.cmake/api/v1/query/cache-v2
cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
cmake-build-debug/.cmake/api/v1/query/codemodel-v2
cmake-build-debug/.cmake/api/v1/query/toolchains-v1
*.json
cmake-build-debug/.ninja_deps
cmake-build-debug/.ninja_log
*.ninja
*.cmake
*.txt
*.bin
*.c
cmake-build-debug/CMakeFiles/3.26.4/CompilerIdCXX/CMakeCXXCompilerId.cpp
cmake-build-debug/CMakeFiles/cmake.check_cache
*.yaml
*.log
